
<div class="page">
  <!--========================================================
                            HEADER
  =========================================================-->
  <header id="header">
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <div class="brand put-left">
              <h1>
                <a href="index.html">
                  <img src="../assets/images/logo.png" alt="Logo"/>
                </a>
              </h1>
            </div>
            <nav class="nav put-right">
              <ul class="sf-menu">
                <li><a href="index.html">Acceuil</a></li>
                <li>
                  <a href="about.html">A Propos</a>
                </li>
                <li class="current"><a href="services.html">Formations</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->

  <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - September08, 2014!</div>
    <div class="container">
      <div class="row wrap_11 wrap_12">
        <div class="grid_7">
          <h2 class="header_2 indent_1">Le Fondateur</h2>
          <div class="box_4">
            <p class="text_5">
              Fort de son expérience de plus de 20 ans dans le domaine de la formation professionnelle et principalement le secteur de la maitrise de l’énergie, ABDERRAOUF BEN SAID lance le C.Re.For.M.M.E, le premier centre dans la région M.E.N.A et Afrique Sub-Saharienne  développant  des compétences employables dans les activités énergetiques.
            </p>
            <a href="https://tn.linkedin.com/in/abderraouf-ben-said-876a8941" class="btn_2">Voir Plus</a>
          </div>
        </div>
        <div class="grid_5">
          <div class="img-wrap">
            <img src="assets/images/index-1_img01.JPG" alt="Image 1"/>
            <img src="assets/images/index-1_img1.jpg" alt="Image 1"/>          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="bg_1 wrap_13 wrap_10">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h2 class="header_2 indent_2">
              C.Re.For.M.M.E
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="grid_6">
            <div class="box_4">
              <p class="text_5">
                C.Re.For.M.M.E dispense des formations sur mesure de haut niveau pour les jeunes à la recherche d'employabilité, les établissements publics, les entreprises privés  et les collectivités. Les formations se basent sur les:
                Enjeux et perspectives de la maitrise de l&apos;énergie
                L’évaluation de l&apos;efficacité énergétique et son apport à une installation, équipement ou réseau
                Développement de projets de la maitrise de l&apos;énergie – Aspects administratifs et fiscaux
                Aspects techniques – Systèmes d’intégration au bâtiment de la charte et label économe en énergie.

              </p>
              <div class="row">
                <div class="grid_6">
                  <ul class="list_2 text_6">
                    <li>Enjeux et perspectives de la maitrise de l'énergie</li>
                    <li>L’évaluation de l'efficacité énergétique et son apport à une installation, équipement ou réseau</li>
                    <li>Développement de projets de la maitrise de l'énergie – Aspects administratifs et fiscaux </li>
                    <li>Aspects techniques – Systèmes d’intégration au bâtiment de la charte et label économe en énergie.</li>
                  </ul>
                </div>
              </div>
              <a class="btn_3" href="#">Voir Plus</a>
            </div>
          </div>
          <div class="grid_6">
            <div class="img-wrap">
              <img class="img_2" src="assets/images/index-1_img03.jpg" alt="Image 3"/>
              <img class="img_2" src="assets/images/index-1_img04.jpg" alt="Image 4"/>
              <img class="img_2" src="assets/images/index-1_img05.jpg" alt="Image 5"/>
              <img class="img_2" src="assets/images/index-1_img06.jpg" alt="Image 6"/>
              <img class="img_2" src="assets/images/index-1_img07.jpg" alt="Image 7"/>
              <img class="img_2" src="assets/images/index-1_img08.jpg" alt="Image 8"/>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row wrap_14">
        <div class="grid_12">
          <h2 class="header_1 wrap_8 color_3">
            Pour Quoi Nous Choisir ?
          </h2>
        </div>
      </div>
      <div class="row wrap_15">
        <div class="grid_4">
          <div class="box_5" data-index="1">
            <h3 class="text_2 color_2"><a href="#">Fertomino vert</a></h3>
            <p class="text_3">
              Lorem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit amet
              ultries wertolio dasererat rutrum. In mollis erat mattis neque cilisis, sit amet ultries
              wertoliow
            </p>
          </div>
        </div>
        <div class="grid_4">
          <div class="box_5" data-index="2">
            <h3 class="text_2 color_2"><a href="#">Tertomino verto</a></h3>
            <p class="text_3">
              Horem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit amet
              ultries wertolio dasererat rutrume. In mollis erat mattis neque cilisis, sit amet ultries
              wertolio
            </p>
          </div>
        </div>
        <div class="grid_4">
          <div class="box_5" data-index="3">
            <h3 class="text_2 color_2"><a href="#">Loertomino verter</a></h3>
            <p class="text_3">
              Korem ipsum dolor sit amettetur ing elit. In mollis erat mattis neque cilisis, sit amet
              ultries wertolio dasererat rutrumwer. In mollis erat mattiseryol neque cilisis, sit amet
              ultries wertol
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
          <div class="header_1 wrap_3 color_3">
            Suivez Nous
          </div>
          <div class="box_3">
            <ul class="list_1">
              <li><a class="fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-facebook" href="#"></a></li>
              <li><a class="fa fa-google-plus" href="#"></a></li>
              <li><a class="fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer id="footer" class="color_9">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <p class="info text_4 color_4">
          © <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br/>
          Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="../assets/js/script.js"></script>
