
<div class="page">
  <!--========================================================
                            HEADER
  =========================================================-->
  <header id="header">
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <div class="brand put-left">
              <h1>
                <a href="index.html">
                  <img src="../assets/images/logo.png" alt="Logo"/>
                </a>
              </h1>
            </div>
            <nav class="nav put-right">
              <ul class="sf-menu">
                <li><a href="index.html">Acceuil</a></li>
                <li>
                  <a href="about.html">A Propos</a>
                </li>
                <li class="current"><a href="services.html">Formations</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->

    <div class="container">
      <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
          <div class="header_1 wrap_3 color_3">
            Suivez Nous
          </div>
          <div class="box_3">
            <ul class="list_1">
              <li><a class="fa fa-twitter" href="#"></a></li>
              <li><a class="fa fa-facebook" href="#"></a></li>
              <li><a class="fa fa-google-plus" href="#"></a></li>
              <li><a class="fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<!--========================================================
                          FOOTER
=========================================================-->
<footer id="footer" class="color_9">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <p class="info text_4 color_4">
          © <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <br/>
          Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="../assets/js/script.js"></script>
